<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>YouTube Mp3 Downloader</title>
</head>
<body>
    <h1>YouTube Mp3 Downloader</h1>
    <!-- form -->
    <div class="form">
        <form action="{{ url_for("gfg") }}" method="post">
            <!-- url input -->
            <label for="url">YouTube URL </label>
            <br>
            <input type="text" id="url" name="url" placeholder="YouTube URL" size=60>
            <br>
            <!-- name input -->
            <label for="lastname">Name </label>
            <br>
            <input type="text" id="name" name="name" placeholder="Song Name" size=60>
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>     
    </div>
</body>
</html>